page-movie-search {
  .result{
    display: flex;
    align-items: center;
    background-color: #22201F;
    color: ghostwhite;
  }

  .poster-thumbnail{
    width: 50px;
    height: 75px;
  }

  .movie-title{
    font-size: 4vw;
  }
}
